{{ define "index/index.tmpl" }}

{{ template "header" }}
	
<div class="container">	
	<div class="page-header">
		<h1>数据库列表</h1>
	</div>

	{{ if .msg }}
	<div class="alert alert-warning" role="alert">{{.msg}}</div>
	{{end}}

	<div class="list-group">
	{{ range $dbname := .data }}
	  <a href="/db/{{$dbname}}" class="list-group-item">{{ $dbname }}</a>
	{{ end }}
	
	</div>
</div>

{{ template "footer" }}

{{ end }}